[submodule "FlappyBirdMP"]
	path = 1.CURRENT_GAMES/FlappyBirdMP
	url = https://github.com/pardo312/FlappyPals.git
[submodule "All-Stars Tennis"]
	path = 1.CURRENT_GAMES/All-Stars-Tennis
	url = https://github.com/pardo312/All-Stars_Tennis.git
[submodule "TetrisAlikeForAndroid"]
	path = 1.CURRENT_GAMES/TetrisAlikeForAndroid
	url = https://github.com/pardo312/TetrisAlikeForAndroid.git
[submodule "MineSweeperALike"]
	path = 1.CURRENT_GAMES/MineSweeperALike
	url = https://github.com/pardo312/MineSweeperALike.git
[submodule "LoveGame"]
	path = LoveGame
	url = https://github.com/pardo312/LoveGame.git
[submodule "BoomAway"]
	path = BoomAway
	url = https://github.com/pardo312/BoomAway
